<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>博客类型列表</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/admin/dashboard.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-2.0.3.min.js}"></script>
    <script th:src="@{/layer/layer.js}"></script>

    <script src="/js/admin/blogTypeList.js" ></script>
    <script th:inline="javascript">
        var token = [[${_csrf.token}]];
        $(function(){
            blogTypeList.init({
                token : token    //Spring Security POST方式下的CSRF验证
            });
        });
    </script>
</head>

<body>
<div th:replace="common/adminLayout::nav" ></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li id="index"><a href="/admin">首页</a></li>
                <li id="blogList"><a href="/admin/blog">博客列表</a></li>
                <li id="blogType"><a href="/admin/blogType">博客类型</a></li>
                <li id="blogTag"><a href="/admin/blogTag">博客标签</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">博客类型列表</h2>
            <div class="input-group" style="width: 300px;">
                <button class="btn btn-warning" id="addBlogType">新增</button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog, blogStat : ${page.result}">
                        <td th:text="${blogStat.count + (page.pageNum-1)*page.pageSize}">1</td>
                        <td th:text="${blog.typeName}">Java</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav th:replace="common/pagination :: pagination"></nav>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/common/adminLayout.js"></script>
<script th:inline="javascript">
    $(function () {
        adminLayout.init();
    })
</script>
</html>
